
@model UpdateProductDto

@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-12 col-md-6 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4>Kategori Güncelleme Sayfası</h4>
        </div>
        <div class="card-body">
            <form method="post">
                <input type="hidden" asp-for="CategoryId" class="form-control">
                <div class="form-group">
                    
                    <label>Kategori Adı :</label>
                    <input type="text" asp-for="ProductName" class="form-control">
                    <br />
                    
                    <label>Ürün Fiyatı :</label>
                    <input type="text" asp-for="Price" class="form-control">
                    <br />

                </div>
                <button class="btn btn-primary">Kategori Güncelle</button>
            </form>
        </div>
    </div>
</div>